@{
    Layout = "_Layout";
}

@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

<h1>All Roles</h1>
<p>@Html.ActionLink("Add new role", "Create")</p>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
  </tr>

  @foreach (var role in Model)
  {
    <tr>
      <td>@role.Id</td>
      <td>
        @using (Html.BeginForm("Delete", "Role", FormMethod.Post, new { @class = "delete-form"}))
          {
            @Html.Hidden("Id", role.Id)
            <button class="delete-icon" type="submit">
              <i class="fa-solid fa-trash-can"></i>
            </button> 
          }
        @role.Name
      </td>
      <td>@Html.ActionLink("Update", "Update", new { id = role.Id })
      </td>
    </tr>
  }
</table>