@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h4>Add a new treat</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)

  @Html.LabelFor(model => model.Price)
  @Html.TextBoxFor(model => model.Price, new { type="number", min="0", max="100" })

  <input type="submit" value="Add new treat"/>
}

<p>@Html.ActionLink("Show all treats", "Index")</p>