@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    <input type="submit" value="Save" />
}
<hr />
<p>@Html.ActionLink("Back to list", "Index")</p>