@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h1>Edit Treat: @Html.DisplayFor(model => model.Type)</h1>
<p>Add or remove flavors on the main Treats Menu page.</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)<br>
<br>
    @Html.LabelFor(model => model.Price)
    @Html.TextBoxFor(model => model.Price, new { type="number", min="0", max="100" })<br><br>

    <input type="submit" value="Save" />
}