@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h1>Edit Treat: @Html.DisplayFor(model => model.Type)</h1>
<p>Add or remove flavors on the main Treats Menu page.</p>

@using (Html.BeginForm())
{
  <div class="settings">
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)

    @Html.LabelFor(model => model.Price)
    @Html.TextBoxFor(model => model.Price, new { type="number", min="0", max="100" })
  </div>

    <input class = "btn btn-secondary" type="submit" value="Save" />
}