@{
  Layout = "_Layout";
}

@using Pierre.Models;
@using System;
@model List<Pierre.Models.Treat>;//view has access to the necessary list of Treats.

<h1>Treats</h1>

@if (User.Identity.IsAuthenticated)
{
  @if (User.IsInRole("Admin"))
  {
    <p>@Html.ActionLink("Add new treat", "Create")</p>
  }
}

@if (@Model.Any())
{
  <table class="table">
    <thead>
      <tr>
        <th>
          Price
        </th>
        <th>
          Treat Type
        </th>
        <th>
          Available Flavors
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      @foreach(Treat treat in Model)
      {
        @Html.HiddenFor(modelTreat => treat.TreatId)
        <tr>
          <td>
            $@Html.DisplayFor(modelTreat => treat.Price)
          </td>
          <td>
            @Html.DisplayFor(modelTreat => treat.Type)
            @if(User.Identity.IsAuthenticated)
            {
              @if(User.IsInRole("Admin"))
              {
                @Html.ActionLink("", "Delete", new {id=($"{treat.TreatId}")}, new {@class="fa-solid fa-trash-can"})
              }
            }
          </td>
          <td>
              @foreach(var join in treat.JoinEntities)
              {
                @Html.ActionLink($"{@join.Flavor.Name}", "Details", "Flavors", new { id = join.Flavor.FlavorId })
                @if(User.Identity.IsAuthenticated)
                {
                  @if(User.IsInRole("Admin"))
                  {
                    @using (Html.BeginForm("DeleteFlavor", "Treats", FormMethod.Post, new { @class = "delete-form"}))
                    {
                      @Html.Hidden("joinId", @join.FlavorTreatId)
                      <button class="delete-icon" type="submit">
                        <i class="fa-solid fa-trash-can"></i>
                      </button> 
                    } <br>
                  }
                }
              }
              @if (User.Identity.IsAuthenticated)
              {
                @if (User.IsInRole("Admin"))
                {
                  <br>
                  @Html.ActionLink("Add more flavors", "AddFlavor", new { id = treat.TreatId })
                }
              }
          </td>
            @if (User.Identity.IsAuthenticated)
            {
              @if (User.IsInRole("Admin"))
              {
                <td>
                @Html.ActionLink("Details", "Details", new { id = treat.TreatId }) |
                @Html.ActionLink("Edit", "Edit", new { id = treat.TreatId })
                </td>
              }
            }
            else
            {
              <td>
              @Html.ActionLink("Details", "Details", new { id = treat.TreatId })
              </td>
            }
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <h3>No treats have been added yet!</h3>
}