@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h1>Flavor Details</h1>
<table class="table">
  <thead><tr><th>Flavor</th><th>Treats Available</th><th></th></tr></thead>
  <tbody>
    <tr>
      <td>
        @if(User.Identity.IsAuthenticated)
          {
            @if(User.IsInRole("Admin"))
            {
              @Html.ActionLink("", "Delete", new {id = Model.FlavorId}, new {@class="fa-solid fa-trash-can"})
            }
          }
        @Html.DisplayFor(model => model.Name)
      </td>
      <td>
        @if(@Model.JoinEntities.Count == 0)
        {
          <p>This flavor does not have any treats associated with it.</p>
        }
        else
        {
          <ul>
          @foreach(var join in Model.JoinEntities)
          {
            <li>
              @if(User.Identity.IsAuthenticated)
              {
                @if(User.IsInRole("Admin"))
                {
                  @using (Html.BeginForm("DeleteTreat", "Flavors", FormMethod.Post, new { @class = "delete-form"}))
                  {
                    @Html.Hidden("joinId", @join.FlavorTreatId)
                    <button class="delete-icon" type="submit">
                      <i class="fa-solid fa-trash-can"></i>
                    </button> 
                  }
                }
              }
              @join.Treat.Type
            </li>
          }
          </ul>
        }
        @if(User.Identity.IsAuthenticated)
          {
            @if(User.IsInRole("Admin"))
            {
              <br>
              @Html.ActionLink("Add treats", "AddTreat", new { id = Model.FlavorId })  
            }
          }
      </td>
      @if(User.Identity.IsAuthenticated) 
      {  
        @if(User.IsInRole("Admin"))
        {

          <td>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</td>
        }
      }
    </tr>
  </tbody>
</table>